<!-- Jason McAuslan -->
<!-- 301279046 -->
<!-- June 18th, 2023 -->
<!-- about_me.ejs -->

<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<%- include partials/page_banner.ejs %>

  <!-- About Page Content -->
<div class="container">
    <img src="assets/images/Mugshot.jpg" style="float:right" height="400px" width="300px">
  <p>My name is Jason McAuslan, I am currnetly 34 and have decided to complete a post-secondary education in pursuit of a career, rather than a job.
    I take pride in the quality of my work and enjoy playing games in my spare time. I grew up on my parent's farm and understand the benefits of hard work and determination.
    I have excellent problem solving skills and a very logical way of thinking. I don't want to know that something doesn't work, I want to know WHY it doesn't work.</p>
  <br><br>
  <!-- Update Resume -->
  <p>A current copy of my resume is available: <a href="/assets/Resume.pdf">Here</a></p>
</div>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>