<!-- Jason McAuslan -->
<!-- 301279046 -->
<!-- June 4th, 2023 -->
<!-- index.ejs -->

<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<%- include partials/page_banner.ejs %>

  <!-- Home Page Content -->
<div class="container">
  <p>Hello, I'm Jason and welcome to my personal portfolio website.</p>
  <br><br>
  <h2>Mission Statement</h2>
  <p>To be the best version of me that I can.</p>
  <br><br>
  <ul>
      <li>To learn more about me: <a class="nav-link" aria-current="page" href="/about">Click Here</a></li>
      <li>To view my previous projects: <a class="nav-link" aria-current="page" href="/projects">Click Here</a></li>
      <li>To see what services I offer: <a class="nav-link" aria-current="page" href="/services">Click Here</a></li>
      <li>To contact me: <a class="nav-link" aria-current="page" href="/contact">Click Here</a></li>
  </ul>
</div>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>
