<!-- Jason McAuslan -->
<!-- 301279046 -->
<!-- June 18th, 2023 -->
<!-- projects.ejs -->

<!-- Projects Page Content-->

<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<%- include partials/page_banner.ejs %>

  <!-- Projects Page Content -->
<div class="container">
    <p>I haven't had the opportunity to participate in programming projects outside of school activities so instead here are three of my proudest past accomplishments:</p>
    <br><br>
    <img src="assets/images/House.jpg" style="float:left" height="200px" width="200px"><h3>Purchasing A House</h3>
    <p>After deciding that post-secondary education was not an appropriate goal at the time, I instead turned my attention toward saving money to purchase a house of my own.
        It took several years of saving and a lot of searching, but I found a house I liked and purchased it in late 2014. Image credit: <a href="http://www.freepik.com">Designed by studiogstock / Freepik</a>
    </p>
    <br><br><br><br>
    <img src="assets/images/Arduino.jpg" style="float:right" height="200px" width="200px"><h3>Learning Arduino Microcontrollers</h3>
    <p>My father is a local farmer and after acquiring a single self-steering tractor, decided he wanted more of his tractors to have this capability. However my father is also
        a frugal man and found a much more affordable option, but it required building the drive mechanism and setting up a laptop with GPS capability and an Arduino Nano board
        to operate the drive mechanism. My father is skilled with his hands and had no trouble creating the drive mechanism from simple instructions and I was called in to
        configure the technical equipment. The end result isn't perfect, but it is servicable and I learned a unique skill in the process. Image credit: <a href="http://www.freepik.com">Designed by macrovector / Freepik</a></p>

    <br><br>
    <!-- How to put being a World of Warcraft guild officer on your resume -->
    <img src="assets/images/Meeting.jpg" style="float:left" height="200px" width="200px"><h3>Organizing Group Recreational Activity</h3>
    <p>Myself, along with several other individuals organize and run a twice weekly recreational activity for a larger group of online friends. We plan and hold meetings
        to discuss the coming weeks activities, discuss with the group who is available and willing to attend the event, and manage issues with attendence and resources.
        Our recreational activities are usually successful, mostly enjoyable and one of the highlights of my week. Image credit: <a href="http://www.freepik.com">Designed by pch.vector / Freepik</a>
    </p>
</div>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>